:root {
    --card-BG-color: #fff;
}

/* releases panel */
releasesPanel {
    position: absolute;
    width: 350px;
    height: 100vh;
    background-color: white;
    right: -350px;
    box-shadow: -6px 10px 13px 0 rgb(0 0 0 / 8%);
    z-index: 2;
    transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.show-releaspanel {
    right: 0;
}

releasesPanel>div {
    padding: 24px;
    display: flex;
    justify-content: space-between;
}

releasesPanel>img {
    width: 100%;
    border-top: 1px solid #DFE5EB;
}

releasespanel [icon="Dismiss"] {
    filter: invert(59%) sepia(85%) saturate(3937%) hue-rotate(189deg) brightness(104%) contrast(85%);
    cursor: pointer;
}

releasespanel [icon="Dismiss"]:hover {
    filter: invert(71%) sepia(19%) saturate(5613%) hue-rotate(174deg) brightness(101%) contrast(92%);
}

.page-stage {
    width: 100%;
    flex: 1;
    overflow: scroll;
}

.header-fixed {
    background-color: #f0f4f7;
    border-bottom: 1px solid #dfe5eb;
    position: fixed;
    z-index: 1;
    width: calc(100% - 228px);
    ;
}

.header-fixed .page-header {
    align-items: center;
    padding: 18px 48px;
    transform: translateY(12px);
    opacity: 0;
    transition: 0.2s cubic-bezier(0.32, 0, 0.67, 0);
}

.show-header .page-header {
    transform: translateY(0px);
    opacity: 1;
    transition: 0.2s cubic-bezier(0.32, 0, 0.67, 0);
}

.header-fixed .page-header div:first-child {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: var(--wsr-font-weight-medium, 400);
}

.header-fixed .page-header-actions button {
    margin-top: 0px;
}

.page-header {
    max-width: 1254px;
    margin: 0 auto;
    display: flex;
    padding: 24px 48px;
    justify-content: space-between;
    min-width: 960px;
}

.page-breadcrumb {
    display: flex;
    align-items: center;
    margin-left: -10px;
    margin-bottom: 8px;
}

.breadcrumb-item {
    font-size: 14px;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
    color: var(--D10);
    padding: 4px 11px;
    border-radius: 20px;
    cursor: pointer;
}

.breadcrumb-item:last-child {
    pointer-events: none;
}

.breadcrumb-item:hover {
    background-color: white;
}

.breadcrumb-item.item-selected {
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

.breadcrumb-icon {
    width: 20px;
    filter: invert(86%) sepia(9%) saturate(316%) hue-rotate(171deg) brightness(88%) contrast(93%);
}

.page-title {
    font-size: 36px;
    line-height: 48px;
    font-weight: var(--wsr-font-weight-bold, 700);
    -webkit-font-smoothing: antialiased;
    color: var(--D10);
    display: flex;
    align-items: center;
}

.page-title-label {
    text-transform: capitalize;
}

.title-descr {
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--wsr-font-weight-regular, 400);
}

.page-title-chevron {
    width: 36px;
    height: 36px;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 10px;
}

.page-title-chevron:hover {
    background-color: white;
}

.page-title-chevron i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(71%) sepia(19%) saturate(5613%) hue-rotate(174deg) brightness(101%) contrast(92%);
}

.page-header-actions {
    display: flex;
    align-items: end;
}

.pcu-button-affix[icon="prefix"] i {
    filter: invert(50%) sepia(73%) saturate(1428%) hue-rotate(184deg) brightness(96%) contrast(93%);
    margin: 0 6px 0 -6px;
}

.pcu-button-affix[icon="prefix"]:hover i {
    filter: invert(96%) sepia(1%) saturate(3989%) hue-rotate(168deg) brightness(117%) contrast(101%);
}

.pcu-button-affix[icon="suffix"] i {
    filter: invert(96%) sepia(1%) saturate(3989%) hue-rotate(168deg) brightness(117%) contrast(101%);
    margin: 0px -6px 2px 6px;
}

.pcu-icon-button i[icon="More"]{
    filter: invert(50%) sepia(73%) saturate(1428%) hue-rotate(184deg) brightness(96%) contrast(93%);
}

.page-header-actions button, .page-footer-actions button {
    margin-left: 12px;
    margin-top: 6px;
}

.header-more-btn {
    min-width: unset;
    padding: 0 6px;
    margin-top: 6px;
}

.page-content {
    max-width: 1254px;
    margin: 0 auto;
    padding: 0 48px;
    min-width: 960px;
}

.page-card {
    background: var(--card-BG-color);
    border-radius: 8px;
    max-width: 1158px;
    margin: 0 auto;
    padding: 24px;
}